
body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fbf9eb;
  display: block;
 }

 .demo{text-align: center;}
@keyframes sliderAnimation {
    100% {
      transform: translateX(-55%);
    }
 }

.autoplay-slider{
    display:flex;
    min-width: 20%;
    width: min-content;
    animation: 30s linear infinite sliderAnimation;
  }
  .slide1,.slide2,.slide3,.slide4,.slide5.slide6,.slide7,.slide8,.slide9,.slide10,.slide11,.slide12,.slide13,.slide14{
    height:300px;
    width:300px;
    margin: 0px;
    /* position: relative; */
  } 
 #result{
      text-align: center;
      font-size: 50px;
      color: brown;
      font-style: italic;
      font-weight: bolder;
      margin:0 0 0;
      display: flex;
    }
    table {
      margin-left: auto;
      margin-right: auto;
      display: flex;
  }

    .onsei{ 
      margin: 50px,30px,auto;
      display: flex;
      flex-flow: wrap;
      justify-content: flex-end;
      width: calc(100% - 118px);
     }

    .result_1{margin:50px 0 auto;
    display:flex;}
    /* .abc{text-align: center;} */
    .ab{text-align: center;
          display: flex;}

    .anata{ flex: auto;
            display: flex;}
    .aite{flex: auto;
          display: flex;}

    .Win_image{text-align: center;}

    .fukidashi .text{
      display: flex;
      flex-flow: wrap;
      justify-content: flex-end;
      width: calc(100% - 118px);
    }

  /* .slide1,.slide2,.slide3,.slide4,.slide5:hover{height:320px; */
  /* .sub_copy{ */
  /* .row{ */
  /* .Battle{ */



